.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-zm72{font-weight:bold;font-style:italic;font-size:15px;font-family:"Lucida Console", Monaco, monospace !important;;text-align:center}
.tg .tg-hgcj{font-weight:bold;text-align:center}
.tg .tg-aa40{font-weight:bold;text-align:center}